<div class="layout">
  <div class="interactive-bar">
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'news' }"
      (click)="toggleTab('news')"
      >Bài đăng</span
    >
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'job' }"
      (click)="toggleTab('job')"
      >Công việc ứng tuyển</span
    >
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'cv' }"
      (click)="toggleTab('cv')"
      >CV</span
    >
  </div>

  <div class="layout-content">
    <div class="interview-tab" [hidden]="!(selectedTab === 'news')">
      <!-- <div class="add-section" (click)="createInterview()">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo phỏng vấn</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Lịch sử đăng bài</span>
        <!-- new hoc bong -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin học bổng</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên cuộc thi</span>
              <span class="header">Thời gian đăng bài</span>
              <span class="header">Link sự kiện</span>
              <span class="header">Trạng thái</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsHBapplice$ | async"
              >
                <div class="info round">
                  {{ hb.codeCategory }}
                </div>
                <span class="info date">{{ hb.datePost }}</span>
                <a [href]="hb.cv" class="info interviewer">{{ hb.link }}</a>
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info">
                  <div class="status pass">
                    <i eIcon eIconType="building"></i>
                    <span
                      class=""
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- new Sự kiện -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin sự kiện</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên cuộc thi</span>
              <span class="header">Thời gian đăng bài</span>
              <span class="header">Link sự kiện</span>
              <span class="header">Trạng thái</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsSKapplice$ | async"
              >
                <div class="info round">
                  {{ hb.codeCategory }}
                </div>
                <span class="info date">{{ hb.datePost }}</span>
                <a [href]="hb.cv" class="info interviewer">{{ hb.link }}</a>
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info">
                  <div class="status fail">
                    <i eIcon eIconType="building"></i>
                    <span
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- new cuộc thi -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin cuộc thi</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên cuộc thi</span>
              <span class="header">Thời gian đăng bài</span>
              <span class="header">Link sự kiện</span>
              <span class="header">Trạng thái</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsCTapplice$ | async"
              >
                <div class="info round">
                  {{ hb.codeCategory }}
                </div>
                <span class="info date">{{ hb.datePost }}</span>
                <a [href]="hb.cv" class="info interviewer">{{ hb.link }}</a>
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info">
                  <div class="status waiting">
                    <i eIcon eIconType="building"></i>
                    <span
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="interview-tab" [hidden]="!(selectedTab === 'job')">
      <!-- <div class="add-section" (click)="createInterview()">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo phỏng vấn</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Lịch sử ứng tuyển</span>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đang đợi xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên công ty</span>
              <span class="header">Thời gian ứng tuyển</span>
              <span class="header">Link CV</span>
              <span class="header">Vị trí</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let job of listJobWapplice$ | async"
              >
                <div class="info round">
                  {{ job.nameCompany }}
                </div>
                <span class="info date">{{ job.timeApply }}</span>
                <a [href]="job.cv" class="info interviewer">{{ job.cv }}</a>
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info">
                  <div class="location offline">
                    <i eIcon eIconType="building"></i>
                    <span
                      class="text-white"
                      nz-popover
                      [nzPopoverContent]="job.position"
                      nzPopoverPlacement="topLeft"
                      >{{ job.position }}</span
                    >
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đã được xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên công ty</span>
              <span class="header">Thời gian ứng tuyển</span>
              <span class="header">Link CV</span>
              <span class="header">Vị trí</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let job of listJobDapplice$ | async"
              >
                <div class="info round">
                  {{ job.nameCompany }}
                </div>
                <span class="info date">{{ job.timeApply }}</span>
                <a [href]="job.cv" class="info interviewer">{{ job.cv }}</a>
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info">
                  <div class="location offline">
                    <i eIcon eIconType="building"></i>
                    <span
                      class="text-white"
                      nz-popover
                      [nzPopoverContent]="job.position"
                      nzPopoverPlacement="topLeft"
                      >{{ job.position }}</span
                    >
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="test-tab" [hidden]="!(selectedTab === 'cv')">
      <!-- <div class="add-section">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo bài test</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Danh sách CV đã dùng</span>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đang xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="test-rounds">
            <div class="list-headers">
              <span class="header">Ngày nộp</span>
              <span class="header">Link CV</span>
              <span class="header">Tên người nộp</span>
              <span class="header">Tình trạng</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                *ngFor="let cv of listCVWapplice$ | async"
                class="test-round"
              >
                <span class="info round">{{ cv.applyTime }}</span>
                <a [href]="cv.cv" class="info date">{{ cv.cv }}</a>
                <span class="info">{{ cv.fullName }}</span>
                <div class="info">
                  <div class="status fail">
                    <span>{{ cv.status }}</span>
                    <i
                      eIcon
                      eIconType="caret-down"
                      class="collapsible-icon"
                    ></i>
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đã duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="test-rounds">
            <div class="list-headers">
              <span class="header">Ngày nộp</span>
              <span class="header">Link CV</span>
              <span class="header">Tên người nộp</span>
              <span class="header">Tình trạng</span>
              <div class="three-dots"></div>
            </div>
            <div class="list-content">
              <div
                *ngFor="let cv of listCVDapplice$ | async"
                class="test-round"
              >
                <span class="info round">{{ cv.applyTime }}</span>
                <a [href]="cv.cv" class="info date">{{ cv.cv }}</a>
                <span class="info">{{ cv.fullName }}</span>
                <div class="info">
                  <div class="status pass">
                    <span>{{ cv.status }}</span>
                    <i
                      eIcon
                      eIconType="caret-down"
                      class="collapsible-icon"
                    ></i>
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
