<div class="layout">
  <div class="interactive-bar">
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'news' }"
      (click)="toggleTab('news')"
      >Bài đăng</span
    >
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'job' }"
      (click)="toggleTab('job')"
      >Công việc ứng tuyển</span
    >
    <span
      class="option"
      [ngClass]="{ selected: selectedTab === 'cv' }"
      (click)="toggleTab('cv')"
      >CV</span
    >
  </div>

  <div class="layout-content">
    <div class="interview-tab" [hidden]="!(selectedTab === 'news')">
      <!-- <div class="add-section" (click)="createInterview()">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo phỏng vấn</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Lịch sử đăng bài</span>
        <!-- new hoc bong -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin học bổng</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header1">Tên cuộc thi</span>
              <span class="header2">Thời gian đăng bài</span>
              <span class="header3">Tên học bổng</span>
              <span class="header2">Trạng thái</span>
              <!-- <div class="three-dots"></div> -->
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsHBapplice$ | async"
              >
                <img class="image" [src]="hb.thumbnail" />
                <span class="info date">{{ hb.datePost }}</span>
                <!-- <a [href]="hb.link" target="_blank" class="info interviewer">{{
                  hb.link
                }}</a> -->
                <span class="info1 interviewer">{{ hb.title }}</span>
                <div class="info">
                  <div class="status pass">
                    <i eIcon eIconType="building"></i>
                    <span
                      class=""
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
                <!-- <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- new Sự kiện -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin sự kiện</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header1">Tên cuộc thi</span>
              <span class="header2">Thời gian đăng bài</span>
              <span class="header3">Tên sự kiện</span>
              <span class="header2">Trạng thái</span>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsSKapplice$ | async"
              >
                <img class="image" [src]="hb.thumbnail" />
                <span class="info date">{{ hb.datePost }}</span>
                <span class="info interviewer">{{ hb.title }}</span>
                <div class="info">
                  <div class="status fail">
                    <i eIcon eIconType="building"></i>
                    <span
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- new cuộc thi -->
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Tin cuộc thi</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header1">Tên cuộc thi</span>
              <span class="header2">Thời gian đăng bài</span>
              <span class="header3">Tên cuộc thi</span>
              <span class="header2">Trạng thái</span>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let hb of listNewsCTapplice$ | async"
              >
                <img class="image" [src]="hb.thumbnail" />
                <span class="info date">{{ hb.datePost }}</span>
                <span class="info interviewer">{{ hb.title }}</span>
                <div class="info">
                  <div class="status waiting">
                    <i eIcon eIconType="building"></i>
                    <span
                      nz-popover
                      [nzPopoverContent]="hb.status"
                      nzPopoverPlacement="topLeft"
                      >{{ hb.status }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="interview-tab" [hidden]="!(selectedTab === 'job')">
      <!-- <div class="add-section" (click)="createInterview()">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo phỏng vấn</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Lịch sử ứng tuyển</span>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đang đợi xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên công ty</span>
              <span class="header">Vị trí</span>
              <span class="header">Thời gian ứng tuyển</span>
              <span class="header">Link CV</span>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let job of listJobWapplice$ | async"
              >
                <div class="info2 round">
                  {{ job.nameCompany }}
                </div>
                <span class="info2 date">{{ job.position }}</span>
                <!-- <a [href]="job.timeApply" class="info interviewer">{{
                  job.timeApply
                }}</a> -->
                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info2">
                  <div class="location offline place-content-center">
                    <i eIcon eIconType="building"></i>
                    <span
                      class="text-white"
                      nz-popover
                      [nzPopoverContent]="job.timeApply"
                      nzPopoverPlacement="topLeft"
                      >{{ job.timeApply }}</span
                    >
                  </div>
                </div>
                <a [href]="job.cv" target="_blank" class="info2 interviewer"
                  >CV</a
                >
              </div>
            </div>
          </div>
        </div>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đã được xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="interview-rounds">
            <div class="list-headers">
              <span class="header">Tên công ty</span>
              <span class="header">Vị trí</span>
              <span class="header">Thời gian ứng tuyển</span>
              <span class="header">Link CV</span>
            </div>
            <div class="list-content">
              <div
                class="interview-round"
                *ngFor="let job of listJobDapplice$ | async"
              >
                <div class="info2 round">
                  {{ job.nameCompany }}
                </div>
                <span class="info2 date">{{ job.position }}</span>

                <!-- <span class="info interviewer">{{ job.cv }}</span> -->
                <div class="info2">
                  <div class="location offline place-content-center">
                    <i eIcon eIconType="building"></i>
                    <span
                      class="text-white"
                      nz-popover
                      [nzPopoverContent]="job.timeApply"
                      nzPopoverPlacement="topLeft"
                      >{{ job.timeApply }}</span
                    >
                  </div>
                </div>
                <a [href]="job.cv" target="_blank" class="info2 interviewer"
                  >CV</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="test-tab" [hidden]="!(selectedTab === 'cv')">
      <!-- <div class="add-section">
        <i eIcon eIconType="add" eIconSize="1.5rem"></i>
        <span>Tạo bài test</span>
      </div> -->
      <div class="lower-section">
        <span class="section-title">Danh sách CV đã dùng</span>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đang xét duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="test-rounds">
            <!-- <div class="list-headers">
              <span class="header">Ngày nộp</span>
              <span class="header">Link CV</span>
              <span class="header">Tên người nộp</span>
              <span class="header">Tình trạng</span>
              <div class="three-dots"></div>
            </div> -->
            <div class="list-content layout-grid grid-cols-3">
              <div
                *ngFor="let cv of listCVWapplice$ | async"
                class="test-round"
              >
                <a [href]="cv.cv" target="_blank" class="info date">
                  <pdf-viewer
                    [src]="cv.cv"
                    [original-size]="false"
                    [show-all]="false"
                    [zoom]="1"
                    style="width: 15vh; height: 23vh"
                  ></pdf-viewer>
                </a>
                <span class="info round">Ngày nộp: {{ cv.applyTime }}</span>
                <!-- <span class="info">{{ cv.fullName }}</span>
                <div class="info">
                  <div class="status fail">
                    <span>{{ cv.status }}</span>
                    <i
                      eIcon
                      eIconType="caret-down"
                      class="collapsible-icon"
                    ></i>
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div collapsible class="time-interval">
          <div collapsibleTitle class="interval-name">
            <span>Đã duyệt</span>
            <i eIcon eIconType="caret-down" class="collapsible-icon"></i>
          </div>
          <div collapsibleContent class="test-rounds">
            <!-- <div class="list-headers">
              <span class="header">Ngày nộp</span>
              <span class="header">Link CV</span>
              <span class="header">Tên người nộp</span>
              <span class="header">Tình trạng</span>
              <div class="three-dots"></div>
            </div> -->
            <div class="list-content layout-grid grid-cols-3">
              <div
                *ngFor="let cv of listCVDapplice$ | async"
                class="test-round"
              >
                <a [href]="cv.cv" target="_blank" class="info date">
                  <pdf-viewer
                    [src]="cv.cv"
                    [original-size]="false"
                    [show-all]="false"
                    [zoom]="1"
                    style="width: 15vh; height: 23vh"
                  ></pdf-viewer>
                </a>
                <span class="info round">Ngày nộp: {{ cv.applyTime }}</span>
                <!-- <span class="info">{{ cv.fullName }}</span>
                <div class="info">
                  <div class="status pass">
                    <span>{{ cv.status }}</span>
                    <i
                      eIcon
                      eIconType="caret-down"
                      class="collapsible-icon"
                    ></i>
                  </div>
                </div>
                <div class="three-dots">
                  <i
                    eIcon
                    eIconType="menu-dots-vertical"
                    eIconSize="1.25rem"
                  ></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
