<div class="layout">
  <app-right-side
    [isPrimary]="false"
    [status]="
      currentComFrame.codeCategory !== '' &&
      currentComFrame.codeCategory !== undefined
        ? 'Chỉnh sửa cuộc thi '
        : 'Tạo mới cuộc thi'
    "
    [sectionName]="
      currentComFrame.codeCategory !== '' &&
      currentComFrame.codeCategory !== undefined
        ? currentComFrame.typeNews
        : ''
    "
    (cancel)="cancel()"
    (save)="save()"
    style="height: 100%"
  >
    <div
      container-body-custom
      class="body list-section"
      style="height: 100%; padding: 1.5rem"
    >
      <app-section title="Thể loại" [collapsible]="false">
        <div section-container>
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            {{ selectedCategory === "" ? "Chọn thể loại " : selectedCategory }}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                *ngFor="let item of listCategory"
                (click)="selectCategory(item)"
              >
                {{ item.name }}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </app-section>
      <app-section title="Tiêu đề" [collapsible]="false">
        <textarea
          section-container
          [(ngModel)]="currentComFrame.title"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập mô tả"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Ảnh sự kiện" [collapsible]="false">
        <div section-container>
          <p class="namecard">Chọn ảnh của bạn:</p>
          <input
            (change)="chooseCv($event)"
            placeholder="Upload CV"
            type="file"
          />
        </div>
      </app-section>
      <app-section
        title="Thông tin sự kiện tuyển dụng của công ty"
        [collapsible]="false"
      >
        <div section-container class="flex flex-col gap-4">
          <input
            [(ngModel)]="currentComFrame.link"
            placeholder="Link sự kiện"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="currentComFrame.location"
            placeholder="Địa chỉ"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />

          <input
            [(ngModel)]="currentComFrame.shortContent"
            placeholder="Tóm tắt"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
        </div>
      </app-section>
      <app-section title="Nội dung" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.content"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Thông tin" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.information"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Người tham gia" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.participation"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Liên hệ" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.contact"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
    </div>
  </app-right-side>
</div>
