@import "/src/app/shared/styles/ehiring.less";
@import "/src/app/shared/styles/generate-style.less";
.page-header {
  display: flex;
  // height: 76vh;
}
.wrapper {
  width: fit-content;
  background-color: @primary-5;
}
button {
  margin-bottom: 12px;
}
.icon {
  color: white;
  padding-left: 1rem;
}
