<div class="page-header">
  <div class="wrapper">
    <button nz-button nzType="primary" (click)="toggleCollapsed()">
      <span
        nz-icon
        class="icon"
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></span>
    </button>
    <ul
      nz-menu
      nzMode="inline"
      nzTheme="dark"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        class="index"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Thống kê chung' : ''"
        nzSelected
        (click)="statistical()"
      >
        <!-- <span nz-icon nzType="step-forward" nzTheme="fill"></span> -->
        <span *ngIf="!isCollapsed">Thống kê chung</span>
      </li>
      <li nz-submenu nzTitle="Thống kê" nzIcon="setting">
        <ul>
          <li nz-menu-item>Thống kê tuyển dụng</li>
          <li nz-menu-item>Thống kê công ty</li>
          <li nz-submenu nzTitle="Thống kê tin tức">
            <ul>
              <li nz-menu-item>Học bổng</li>
              <li nz-menu-item>Cuộc thi</li>
              <li nz-menu-item>Sự kiện</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  </div>
  <router-outlet class="body"></router-outlet>
</div>
