<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa khung"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      <div>{{ (comFrameInfo$ | async)?.codeCategory }}</div>
      <div class="font-normal">
        {{ (comFrameInfo$ | async)?.title }}
      </div>
    </div>
    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <quill-view-html
                [content]="(comFrameInfo$ | async)?.shortContent || ''"
                theme="snow"
              ></quill-view-html>
            </div>
          </div>
        </app-section>
        <app-section title="Giới thiệu" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.introduction || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Thông tin" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.information || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Chủ đề cuộc thi" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.subject || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Giải thưởng" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.prize || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Hình thức đăng ký" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.contact || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Bình luận">
          <div container>
            <div section-container class="m-0">
              <nz-list
                *ngIf="data.length"
                [nzDataSource]="data"
                [nzRenderItem]="item"
                [nzItemLayout]="'horizontal'"
              >
                <ng-template #item let-item>
                  <nz-comment
                    [nzAuthor]="item.author"
                    [nzDatetime]="item.displayTime"
                  >
                    <nz-avatar
                      nz-comment-avatar
                      nzIcon="user"
                      [nzSrc]="item.avatar"
                    ></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                  </nz-comment>
                </ng-template>
              </nz-list>
              <nz-comment>
                <nz-avatar
                  nz-comment-avatar
                  nzIcon="user"
                  [nzSrc]="user.avatar"
                ></nz-avatar>
                <nz-comment-content>
                  <nz-form-item>
                    <textarea
                      [(ngModel)]="inputValue"
                      nz-input
                      rows="4"
                    ></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      [nzLoading]="submitting"
                      [disabled]="!inputValue"
                      (click)="handleSubmit()"
                    >
                      Add Comment
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>
            </div>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
