<div class="layout">
  <app-right-side
    [isPrimary]="false"
    [status]="
      currentComFrame.codeCategory !== '' &&
      currentComFrame.codeCategory !== undefined
        ? 'Chỉnh sửa học bổng '
        : 'Tạo mới học bổng'
    "
    [sectionName]="
      currentComFrame.codeCategory !== '' &&
      currentComFrame.codeCategory !== undefined
        ? currentComFrame.codeCategory
        : ''
    "
    (cancel)="cancel()"
    (save)="save()"
    style="height: 100%"
  >
    <div
      container-body-custom
      class="body list-section"
      style="height: 100%; padding: 1.5rem"
    >
      <app-section title="Thể loại học bổng" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="currentComFrame.codeCategory"
          placeholder="Tên khung năng lực"
          class="h-10 p-4 w-full border-mid rounded-lg input-custom"
          style="outline: none"
        />
      </app-section>
      <app-section title="Tiêu đề" [collapsible]="false">
        <textarea
          section-container
          [(ngModel)]="currentComFrame.title"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập mô tả"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Ảnh sự kiện" [collapsible]="false">
        <div section-container>
          <p class="namecard">Chọn ảnh của bạn:</p>
          <input
            (change)="chooseCv($event)"
            placeholder="Upload CV"
            type="file"
          />
        </div>
      </app-section>
      <app-section
        title="Thông tin sự kiện tuyển dụng của công ty"
        [collapsible]="false"
      >
        <div section-container class="flex flex-col gap-4">
          <input
            [(ngModel)]="currentComFrame.link"
            placeholder="Link sự kiện"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="currentComFrame.location"
            placeholder="Địa chỉ"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />

          <input
            [(ngModel)]="currentComFrame.shortContent"
            placeholder="Tóm tắt"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />

          <input
            [(ngModel)]="currentComFrame.typeNews"
            placeholder="Thể loại tin tức"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
        </div>
      </app-section>
      <app-section title="Giới thiệu" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.introduction"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>

      <app-section title="Liên hệ" [collapsible]="false">
        <textarea
          section-container
          [(ngModel)]="currentComFrame.contact"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập mô tả"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea>
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
    </div>
  </app-right-side>
</div>
