<div class="body">
  <div *ngIf="load">
    <nz-spin nzTip="Loading...">
      <nz-alert
        nzType="info"
        nzMessage="Đang load dữ liệu"
        nzDescription="Phát lồn"
      ></nz-alert>
    </nz-spin>
  </div>
  <div class="bodytop" *ngIf="!load">
    <div class="bodytop-item">
      <div class="news">
        <span class="font-semibold text-4xl">Tin tức</span>
        <div>Số lượng tin tức: {{ lengthNews }}</div>
        <div>Số lượng sự kiện: {{ lengthEvent }}</div>
        <div>Số lượng cuộc thi: {{ lengthCompetion }}</div>
        <div>Số lượng học bổng: {{ lengthScholarship }}</div>
      </div>
    </div>
    <div class="bodytop-item">
      <div class="recruit">
        <span class="font-semibold text-4xl">Tuyển dụng</span>
        <div>Số lượng tin tuyển dụng: {{ lengthJob }}</div>
      </div>
    </div>
    <div class="bodytop-item">
      <div class="company">
        <div class="font-semibold text-4xl">Công ty</div>
        <div>Số lượng công ty tham gia: {{ lengthCompany }}</div>
      </div>
    </div>
  </div>
</div>
