<div class="layout">
  <app-right-side
    [isPrimary]="false"
    [status]="
      Recruit.title !== '' && Recruit.title !== undefined
        ? 'Chỉnh sửa tin tuyển dụng '
        : 'Tạo mới tin tuyển dụng'
    "
    [sectionName]="
      Recruit.title !== '' && Recruit.title !== undefined ? Recruit.title : ''
    "
    (cancel)="cancel()"
    (save)="save()"
    style="height: 100%"
  >
    <div
      container-body-custom
      class="body list-section"
      style="height: 100%; padding: 1.5rem"
    >
      <app-section title="Tiêu đề tuyển dụng" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="Recruit.title"
          placeholder="Tiêu đề"
          class="h-10 p-4 w-full border-mid rounded-lg input-custom"
          style="outline: none"
        />
      </app-section>
      <app-section title="Thể loại" [collapsible]="false">
        <div section-container>
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            {{ selectedCategory === "" ? "Chọn thể loại " : selectedCategory }}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                *ngFor="let item of listCategory"
                (click)="selectCategory(item)"
              >
                {{ item.name }}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </app-section>
      <app-section title="Ảnh sự kiện" [collapsible]="false">
        <div section-container>
          <p class="namecard">Chọn ảnh của bạn:</p>
          <input
            (change)="chooseCv($event)"
            placeholder="Upload CV"
            type="file"
          />
        </div>
      </app-section>
      <app-section title="Nội dung ngắn gọn" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="Recruit.shortContent"
          placeholder="Nội dung"
          class="p-4 w-full border-mid rounded-lg input-custom"
          style="outline: none"
        />
      </app-section>
      <app-section
        title="Thông tin sự kiện tuyển dụng của công ty"
        [collapsible]="false"
      >
        <div section-container class="flex flex-col gap-4">
          <input
            [(ngModel)]="Recruit.link"
            placeholder="Link sự kiện"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.location"
            placeholder="Địa chỉ"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.experience"
            placeholder="Kinh nghiệm"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.salary"
            placeholder="Mức lương"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.major"
            placeholder="Chuyên ngành"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.position"
            placeholder="Vị trí"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.language"
            placeholder="Ngôn ngữ"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <input
            [(ngModel)]="Recruit.level"
            placeholder="Cấp bậc"
            class="p-4 w-full border-mid rounded-lg input-custom"
            style="outline: none"
          />
          <div class="flex gap-1">
            <p class="self-center">Ngày bắt đầu :</p>
            <nz-date-picker
              [(ngModel)]="Recruit.startTime"
              (ngModelChange)="onChange($event)"
            ></nz-date-picker>
          </div>
          <div class="flex gap-1">
            <p class="self-center">Ngày kết thúc :</p>
            <nz-date-picker
              [(ngModel)]="Recruit.endTime"
              (ngModelChange)="onChange($event)"
            ></nz-date-picker>
          </div>
        </div>
      </app-section>
      <app-section title="Giới thiệu" [collapsible]="false">
        <!-- <div [innerHTML]="comFrame?.treatment"></div> -->
        <!-- <textarea
          section-container
          [(ngModel)]="Recruit.introduction"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập giới thiệu"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea>
        <div class="">Trường không bắt buộc</div> -->
        <quill-editor
          section-container
          [(ngModel)]="Recruit.introduction"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div
          class="pt-2 flex flex-row-reverse text-color-mid"
          section-container
        >
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Mô tả" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="Recruit.description"
          placeholder="Nhập mô tả"
          class="descriptioninput p-4"
        ></quill-editor>
        <div
          class="pt-2 flex flex-row-reverse text-color-mid"
          section-container
        >
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Yêu cầu" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="Recruit.requirement"
          placeholder="Nhập yêu cầu"
          class="descriptioninput p-4"
        ></quill-editor>
        <div
          class="pt-2 flex flex-row-reverse text-color-mid"
          section-container
        >
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Đãi ngộ" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="Recruit.treatment"
          placeholder="Nhập đãi ngộ"
          class="descriptioninput p-4"
        ></quill-editor>
        <div
          class="pt-2 flex flex-row-reverse text-color-mid"
          section-container
        >
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Liên hệ" [collapsible]="false">
        <textarea
          section-container
          [(ngModel)]="Recruit.contact"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập liên hệ"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea>
        <div
          class="pt-2 flex flex-row-reverse text-color-mid"
          section-container
        >
          Trường không bắt buộc
        </div>
      </app-section>
    </div>
  </app-right-side>
</div>
