<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa khung"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      <div>{{ (comFrameInfo$ | async)?.title }}</div>
      <div class="font-normal">
        {{ (comFrameInfo$ | async)?.shortContent }}
      </div>
    </div>

    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <div [innerHTML]="(comFrameInfo$ | async)?.description"></div>
            </div>
            <!-- <textarea
              nz-input
              placeholder="Nhập mô tả"
              [value]="(comFrameInfo$ | async)?.['description']"
              style="
                border-color: #32cc4c;
                resize: none;
                border-radius: 8px;
                font-weight: 400;
                padding: 1rem;
                pointer-events: none;
              "
            ></textarea> -->
          </div>
        </app-section>
        <app-section title="Chi tiết tin tuyển dụng" [collapsible]="false">
          <div section-container class="competence-tags">
            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:bag"> </span>
                <div>
                  <div class="font-bold">Kinh nghiệm</div>
                  <div>{{ comFrame?.experience }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:rank"> </span>
                <div>
                  <div class="font-bold">Cấp bậc</div>
                  <div>{{ comFrame?.level }}</div>
                </div>
              </div>
            </div>

            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:language"> </span>
                <div>
                  <div class="font-bold">Ngôn ngữ</div>
                  <div>{{ comFrame?.language }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:salary"> </span>
                <div>
                  <div class="font-bold">Mức lương</div>
                  <div>{{ comFrame?.salary }}</div>
                </div>
              </div>
            </div>
          </div>
        </app-section>
        <app-section title="Địa điểm làm việc" [collapsible]="false">
          <div section-container class="competence-tags">
            <div>{{ comFrame?.location }}</div>
          </div>
        </app-section>
        <app-section title="Yêu cầu ứng viên" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="comFrame?.requirement"></div>
          </div>
        </app-section>
        <app-section title="Quyền lợi" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="comFrame?.treatment"></div>
          </div>
        </app-section>
        <app-section title="" [collapsible]="false">
          <div section-container class="">
            <div class="buttonlg" (click)="showModal()">Ứng Tuyển</div>

            <nz-modal
              [(nzVisible)]="isVisible"
              nzTitle="Bạn đang ứng tuyển cho vị trí {{
                (comFrameInfo$ | async)?.title
              }} của công ty {{ (comFrameInfo$ | async)?.shortContent }}"
              (nzOnCancel)="handleCancel()"
            >
              <div *nzModalContent class="flex flex-col gap-4">
                <div class="flex items-center">
                  <p class="namecard">Họ tên:</p>
                  <input
                    placeholder="Nhập tên của bạn"
                    class="input"
                    [(ngModel)]="apply.fullName"
                  />
                </div>

                <div class="flex items-center">
                  <p class="namecard">Email:</p>
                  <input
                    placeholder="Email"
                    class="input"
                    [(ngModel)]="apply.email"
                  />
                </div>
                <div class="flex items-center">
                  <p class="namecard">Số điện thoại:</p>
                  <input
                    placeholder="Số điện thoại"
                    class="input"
                    [(ngModel)]="apply.phone"
                  />
                </div>
                <div class="flex items-center">
                  <p class="namecard">Chọn CV của bạn:</p>
                  <input
                    (change)="chooseCv($event)"
                    placeholder="Upload CV"
                    type="file"
                  />
                </div>
                <div>
                  <p class="namecard">Thư xin việc</p>
                  <textarea
                    nz-input
                    placeholder="Nhập văn bản"
                    [(ngModel)]="apply.intro"
                    style="
                      border-color: #bfbfbf;
                      resize: none;
                      border-radius: 8px;
                      font-weight: 400;
                      padding: 1rem;
                    "
                  ></textarea>
                </div>
                <!-- design email -->
                <div class="email-body">
                  <quill-editor
                    class="editor"
                    (onEditorCreated)="quillEditor = $event"
                    [(ngModel)]="htmlContent"
                    (onSelectionChanged)="updateQuillConfig($event)"
                  >
                    <div quill-editor-toolbar collapsible class="collapsed">
                      <div class="upper-bar">
                        <div class="left-side">
                          <span class="ql-formats">
                            <button
                              class="btn"
                              eIcon
                              eIconType="bold"
                              eIconSize="1.5rem"
                              [title]="'Bold'"
                              (click)="fql('bold')"
                            ></button>
                            <button
                              class="btn"
                              eIcon
                              eIconType="italic"
                              eIconSize="1.5rem"
                              [title]="'Italic'"
                              (click)="fql('italic')"
                            ></button>
                            <button
                              class="btn"
                              eIcon
                              eIconType="underline"
                              eIconSize="1.5rem"
                              [title]="'Underline'"
                              (click)="fql('underline')"
                            ></button>
                            <button
                              class="text-more"
                              collapsibleTitle
                              eIcon
                              eIconType="text-more"
                              eIconSize="1.5rem"
                              [title]="'More Formatting'"
                            ></button>
                          </span>
                          <span class="ql-formats">
                            <button
                              eIcon
                              eIconType="align-left"
                              eIconSize="1.5rem"
                              [title]="'Left'"
                              (click)="fql('align', '')"
                            ></button>
                            <button
                              eIcon
                              eIconType="align-center"
                              eIconSize="1.5rem"
                              [title]="'Center'"
                              (click)="fql('align', 'center')"
                            ></button>
                            <button
                              eIcon
                              eIconType="ordered-list"
                              eIconSize="1.5rem"
                              [title]="'Ordered List'"
                              (click)="fql('list', 'ordered')"
                            ></button>
                            <button
                              eIcon
                              eIconType="unordered-list"
                              eIconSize="1.5rem"
                              [title]="'Bullet List'"
                              (click)="fql('list', 'bullet')"
                            ></button>
                          </span>
                          <span class="ql-formats">
                            <button
                              eIcon
                              eIconType="insert-link"
                              eIconSize="1.5rem"
                              [title]="'Add Link'"
                            ></button>
                            <button
                              eIcon
                              eIconType="insert-image"
                              eIconSize="1.5rem"
                              [title]="'Add Image'"
                            ></button>
                            <button
                              eIcon
                              eIconType="smile"
                              eIconSize="1.5rem"
                              [title]="'Add Emoji'"
                            ></button>
                            <button
                              eIcon
                              eIconType="insert-more"
                              eIconSize="1.5rem"
                              [title]="'Insert More'"
                            ></button>
                          </span>
                        </div>
                        <div class="right-side">
                          <span class="ql-formats">
                            <button
                              eIcon
                              eIconType="undo"
                              eIconSize="1.5rem"
                              [title]="'Undo'"
                              (click)="fql('undo')"
                            ></button>
                            <button
                              eIcon
                              eIconType="redo"
                              eIconSize="1.5rem"
                              [title]="'Redo'"
                              (click)="fql('redo')"
                            ></button>
                            <button
                              eIcon
                              eIconType="more"
                              eIconSize="1.5rem"
                              [title]="'More'"
                            ></button>
                          </span>
                        </div>
                      </div>
                      <div class="lower-bar" collapsibleContent>
                        <span class="ql-formats">
                          <button
                            eIcon
                            eIconType="strike-through"
                            eIconSize="1.5rem"
                            [title]="'Strike'"
                            (click)="fql('strike')"
                          ></button>
                          <button
                            eIcon
                            eIconType="subscript"
                            eIconSize="1.5rem"
                            [title]="'Subscript'"
                            (click)="fql('script', 'sub')"
                          ></button>
                          <button
                            eIcon
                            eIconType="superscript"
                            eIconSize="1.5rem"
                            [title]="'Superscript'"
                            (click)="fql('script', 'super')"
                          ></button>
                          <button
                            class="dropdown-button"
                            eIcon
                            eIconType="font-family"
                            eIconWidth="2rem"
                            eIconHeight="1.5rem"
                            [title]="'Font Family'"
                          ></button>
                          <button
                            class="dropdown-button"
                            eIcon
                            eIconType="font-size"
                            eIconWidth="2rem"
                            eIconHeight="1.5rem"
                            [title]="'Font Size'"
                          ></button>
                          <button
                            eIcon
                            eIconType="edit-alt"
                            eIconSize="1.5rem"
                            [title]="'Edit'"
                          ></button>
                          <button
                            class="dropdown-button"
                            eIcon
                            eIconType="inline-class"
                            eIconWidth="2rem"
                            eIconHeight="1.5rem"
                            [title]="'Inline Class'"
                          ></button>
                          <button
                            class="dropdown-button"
                            eIcon
                            eIconType="inline-style"
                            eIconWidth="2rem"
                            eIconHeight="1.5rem"
                            [title]="'Inline Style'"
                          ></button>
                          <button
                            eIcon
                            eIconType="clear-formatting"
                            eIconSize="1.5rem"
                            [title]="'Clear Formatting'"
                          ></button>
                        </span>
                      </div>
                    </div>
                  </quill-editor>
                </div>
                <!-- design email -->
              </div>
              <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel()">
                  Huỷ
                </button>
                <button
                  nz-button
                  nzType="primary"
                  (click)="handleOk1()"
                  [nzLoading]="isConfirmLoading"
                >
                  Gửi
                </button>
              </div>
            </nz-modal>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
