<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <button
      button
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button>
    <button
      button
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa khung"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      <div>{{ (comFrameInfo$ | async)?.title }}</div>
      <div class="font-normal">
        {{ (comFrameInfo$ | async)?.shortContent }}
      </div>
    </div>

    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <div [innerHTML]="(comFrameInfo$ | async)?.description"></div>
            </div>
            <!-- <textarea
              nz-input
              placeholder="Nhập mô tả"
              [value]="(comFrameInfo$ | async)?.['description']"
              style="
                border-color: #32cc4c;
                resize: none;
                border-radius: 8px;
                font-weight: 400;
                padding: 1rem;
                pointer-events: none;
              "
            ></textarea> -->
          </div>
        </app-section>
        <app-section title="Chi tiết tin tuyển dụng" [collapsible]="false">
          <div section-container class="competence-tags">
            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:bag"> </span>
                <div>
                  <div class="font-bold">Kinh nghiệm</div>
                  <div>{{ comFrame?.experience }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:rank"> </span>
                <div>
                  <div class="font-bold">Cấp bậc</div>
                  <div>{{ comFrame?.level }}</div>
                </div>
              </div>
            </div>

            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:language"> </span>
                <div>
                  <div class="font-bold">Ngôn ngữ</div>
                  <div>{{ comFrame?.language }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:salary"> </span>
                <div>
                  <div class="font-bold">Mức lương</div>
                  <div>{{ comFrame?.salary }}</div>
                </div>
              </div>
            </div>
          </div>
        </app-section>
        <app-section title="Địa điểm làm việc" [collapsible]="false">
          <div section-container class="competence-tags">
            <div>{{ comFrame?.location }}</div>
          </div>
        </app-section>
        <app-section title="Yêu cầu ứng viên" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="comFrame?.requirement"></div>
          </div>
        </app-section>
        <app-section title="Quyền lợi" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="comFrame?.treatment"></div>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
