<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      *ngIf="showCom"
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <!-- <button
      button
      *ngIf="showCom"
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button> -->
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa tin tuyển dụng"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      <div>{{ (comFrameInfo$ | async)?.title }}</div>
      <div class="font-normal">
        {{ (comFrameInfo$ | async)?.shortContent }}
      </div>
    </div>

    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <!-- <div [innerHTML]="(comFrameInfo$ | async)?.description"></div> -->
              <quill-view-html
                [content]="(comFrameInfo$ | async)?.description || ''"
                theme="snow"
              ></quill-view-html>
            </div>
          </div>
        </app-section>
        <div>Thể loại: {{ comFrame?.codeCategory }}</div>
        <app-section title="Chi tiết tin tuyển dụng" [collapsible]="false">
          <div section-container class="competence-tags text-base">
            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:bag"> </span>
                <div>
                  <div class="font-bold">Kinh nghiệm</div>
                  <div>{{ comFrame?.experience }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:rank"> </span>
                <div>
                  <div class="font-bold">Cấp bậc</div>
                  <div>{{ comFrame?.level }}</div>
                </div>
              </div>
            </div>

            <div class="tags">
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:language"> </span>
                <div>
                  <div class="font-bold">Ngôn ngữ</div>
                  <div>{{ comFrame?.language }}</div>
                </div>
              </div>
              <div class="tagitem tag">
                <span class="icon" nz-icon nzType="svg:salary"> </span>
                <div>
                  <div class="font-bold">Mức lương</div>
                  <div>{{ comFrame?.salary }}</div>
                </div>
              </div>
            </div>
          </div>
        </app-section>
        <app-section title="Địa điểm làm việc" [collapsible]="false">
          <div section-container class="competence-tags text-base">
            <div>{{ comFrame?.location }}</div>
          </div>
        </app-section>
        <app-section title="Yêu cầu ứng viên" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.requirement || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>

        <app-section title="Quyền lợi" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.treatment || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section [collapsible]="false">
          <div section-container class="">
            <div class="buttonlg" (click)="showModal()" *ngIf="showUs">
              Ứng Tuyển
            </div>

            <nz-modal
              [(nzVisible)]="isVisible"
              nzTitle="Bạn đang ứng tuyển cho vị trí {{
                (comFrameInfo$ | async)?.title
              }} của công ty {{ (comFrameInfo$ | async)?.shortContent }}"
              (nzOnCancel)="handleCancel()"
            >
              <div *nzModalContent class="flex flex-col gap-4">
                <div class="flex items-center">
                  <p class="namecard">Họ tên:</p>
                  <input
                    placeholder="Nhập tên của bạn"
                    class="input"
                    [(ngModel)]="apply.fullName"
                  />
                </div>

                <div class="flex items-center">
                  <p class="namecard">Email:</p>
                  <input
                    placeholder="Email"
                    class="input"
                    [(ngModel)]="apply.email"
                  />
                </div>
                <div class="flex items-center">
                  <p class="namecard">Số điện thoại:</p>
                  <input
                    placeholder="Số điện thoại"
                    class="input"
                    [(ngModel)]="apply.phone"
                  />
                </div>
                <div class="flex items-center">
                  <p class="namecard">Chọn CV của bạn:</p>
                  <input
                    (change)="chooseCv($event)"
                    placeholder="Upload CV"
                    type="file"
                  />
                </div>
                <div>
                  <p class="namecard">Thư xin việc</p>
                  <textarea
                    nz-input
                    placeholder="Nhập văn bản"
                    [(ngModel)]="apply.intro"
                    style="
                      border-color: #bfbfbf;
                      resize: none;
                      border-radius: 8px;
                      font-weight: 400;
                      padding: 1rem;
                    "
                  ></textarea>
                </div>
              </div>
              <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel()">
                  Huỷ
                </button>
                <button
                  nz-button
                  nzType="primary"
                  (click)="handleOk1()"
                  [nzLoading]="isConfirmLoading"
                >
                  Gửi
                </button>
              </div>
            </nz-modal>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
