<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      *ngIf="showEdit"
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button>
    <button
      button
      *ngIf="showQt"
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa học bổng"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      <div>{{ (comFrameInfo$ | async)?.codeCategory }}</div>
      <div class="font-normal">
        {{ (comFrameInfo$ | async)?.title }}
      </div>
    </div>
    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <quill-view-html
                [content]="(comFrameInfo$ | async)?.shortContent || ''"
                theme="snow"
              ></quill-view-html>
            </div>
          </div>
        </app-section>
        <app-section title="Giới thiệu" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.introduction || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Yêu cầu" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.requirement || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Lợi ích" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.benefit || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Hình thức đăng ký" [collapsible]="false">
          <div section-container class="competence-tags">
            <quill-view-html
              [content]="(comFrameInfo$ | async)?.contact || ''"
              theme="snow"
            ></quill-view-html>
          </div>
        </app-section>
        <app-section title="Bình luận">
          <div container>
            <div section-container class="m-0">
              <nz-list class="demo-loadmore-list">
                <nz-list-item *ngFor="let item of listComment$ | async">
                  <ng-container>
                    <nz-list-item-meta
                      [nzAvatar]="item.avatar"
                      [nzDescription]="
                        item.name +
                        ' - ' +
                        item.time[0] +
                        item.time[1] +
                        item.time[2] +
                        item.time[3] +
                        item.time[4] +
                        item.time[5] +
                        item.time[6] +
                        item.time[7] +
                        item.time[8] +
                        item.time[9]
                      "
                    >
                      <nz-list-item-meta-title>
                        <p>{{ item.content }}</p>
                      </nz-list-item-meta-title>
                    </nz-list-item-meta>
                    <ul nz-list-item-actions>
                      <nz-list-item-action
                        ><a
                          (click)="edit(item)"
                          *ngIf="item.userId.toString() === idUser"
                          >chỉnh sửa</a
                        ></nz-list-item-action
                      >
                      <nz-list-item-action
                        ><a
                          (click)="edit(item)"
                          *ngIf="item.userId.toString() === idUser"
                          >xoá</a
                        ></nz-list-item-action
                      >
                    </ul>
                  </ng-container>
                </nz-list-item>
              </nz-list>
              <nz-comment>
                <nz-avatar
                  nz-comment-avatar
                  nzIcon="user"
                  [nzSrc]="user.avatar"
                ></nz-avatar>

                <nz-comment-content>
                  <nz-form-item>
                    <textarea
                      [(ngModel)]="inputValue"
                      nz-input
                      rows="4"
                    ></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      [nzLoading]="submitting"
                      [disabled]="!inputValue"
                      (click)="handleSubmit()"
                    >
                      Thêm bình luận
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>
            </div>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
