<div class="layout">
  <app-right-side [isViewLayout]="true" style="height: 100%">
    <button
      button
      class="button-primary"
      (click)="cancel()"
      nz-popover
      nzPopoverContent="Quay lại"
      nzPopoverPlacement="topLeft"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:arrow-left"></span>
    </button>

    <button
      button
      class="button-primary"
      (click)="update()"
      nz-popover
      nzPopoverContent="Chỉnh sửa"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:edit"></span>
    </button>
    <button
      button
      class="button-primary"
      (click)="duplicateClick()"
      nz-popover
      nzPopoverContent="copy"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:copy-alt"></span>
    </button>
    <button
      button
      class="button-primary"
      (click)="delete()"
      nz-popover
      nzPopoverContent="xóa khung"
      nzPopoverPlacement="top"
      nzPopoverOverlayClassName="customPopOver"
    >
      <span nz-icon nzType="svg:trash"> </span>
    </button>
    <div container-title>
      {{ (comFrameInfo$ | async)?.codeCategory }}
    </div>
    <div container-body>
      <div class="content list-section">
        <div class="image"><img [src]="comFrame?.thumbnail" /></div>
        <app-section title="Mô tả">
          <div container>
            <div section-container class="competence-tags">
              <div>{{ (comFrameInfo$ | async)?.shortContent }}</div>
            </div>
          </div>
        </app-section>
        <app-section title="Giới thiệu" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="(comFrameInfo$ | async)?.introduction"></div>
          </div>
        </app-section>
        <app-section title="Yêu cầu" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="(comFrameInfo$ | async)?.requirement"></div>
          </div>
        </app-section>
        <app-section title="Lợi ích" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="(comFrameInfo$ | async)?.benefit"></div>
          </div>
        </app-section>
        <app-section title="Hình thức đăng ký" [collapsible]="false">
          <div section-container class="competence-tags">
            <div [innerHTML]="(comFrameInfo$ | async)?.contact"></div>
          </div>
        </app-section>
        <app-section title="Bình luận">
          <div container>
            <!-- <div section-container class="m-0 pb-4 flex flex-col gap-4">
              <div *ngFor="let cmt of listComment" class="m-0 flex gap-4">
                <img src="/assets/images/avatar-female.svg" class="avata" />
                <textarea
                  nz-input
                  placeholder="Nhập mô tả"
                  [value]="cmt"
                  style="
                    border-color: #bfbfbf;
                    resize: none;
                    border-radius: 8px;
                    font-weight: 400;
                    padding: 1rem;
                    pointer-events: none;
                  "
                ></textarea>
              </div>
            </div>
            <div section-container class="m-0 flex gap-4">
              <img src="/assets/images/avatar-female.svg" class="avata" />
              <textarea
                nz-input
                (keydown.enter)="comment()"
                placeholder="Nhập mô tả"
                [(ngModel)]="commentTemp"
                style="
                  border-color: #bfbfbf;
                  resize: none;
                  border-radius: 8px;
                  font-weight: 400;
                  padding: 1rem;
                "
              ></textarea>
            </div> -->
            <div section-container class="m-0">
              <nz-list
                *ngIf="data.length"
                [nzDataSource]="data"
                [nzRenderItem]="item"
                [nzItemLayout]="'horizontal'"
              >
                <ng-template #item let-item>
                  <nz-comment
                    [nzAuthor]="item.author"
                    [nzDatetime]="item.displayTime"
                  >
                    <nz-avatar
                      nz-comment-avatar
                      nzIcon="user"
                      [nzSrc]="item.avatar"
                    ></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                  </nz-comment>
                </ng-template>
              </nz-list>
              <nz-comment>
                <nz-avatar
                  nz-comment-avatar
                  nzIcon="user"
                  [nzSrc]="user.avatar"
                ></nz-avatar>
                <nz-comment-content>
                  <nz-form-item>
                    <textarea
                      [(ngModel)]="inputValue"
                      nz-input
                      rows="4"
                    ></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      [nzLoading]="submitting"
                      [disabled]="!inputValue"
                      (click)="handleSubmit()"
                    >
                      Add Comment
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>
            </div>
          </div>
        </app-section>
      </div>
    </div>
  </app-right-side>
</div>
