<div class="all">
  <div class="left">
    <div class="title">danh sách tuyển dụng của công ty {{ user.name }}</div>
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="(listCom$ | async) ?? []"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th>Vị trí</th>
          <th>Số hồ sơ ứng tuyển</th>
          <th>Thời hạn</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of rowSelectionTable.data"
          class=""
          (click)="onSelected(data)"
          [class.selected]="data === selectedJob"
        >
          <td>{{ data.position }}</td>
          <td>{{ data.numberCandidate }}</td>
          <td>{{ data.startTime }} đến {{ data.endTime }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="right" *ngIf="showRight">
    <div>Danh sách ứng viên</div>
    <nz-table
      #rowSelectionTable1
      nzShowPagination
      nzShowSizeChanger
      [nzData]="listApply"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th>CV</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Giới thiệu</th>
          <th>Trạng thái</th>
          <th>Thời gian ứng tuyển</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apply of rowSelectionTable1.data">
          <td>
            <a [href]="apply.cv" target="_blank" class="info date">
              <pdf-viewer
                [src]="apply.cv"
                [original-size]="false"
                [show-all]="false"
                [zoom]="1"
                style="width: 15vh; height: 23vh"
              ></pdf-viewer>
            </a>
          </td>
          <td>{{ apply.fullName }}</td>
          <td>{{ apply.phone }}</td>
          <td>{{ apply.email }}</td>
          <td>{{ apply.intro }}</td>
          <td>{{ apply.status }}</td>
          <td>{{ apply.applyTime }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              class="but"
              (click)="snapStatus(apply.id, 'Cancel')"
              *ngIf="apply.status === 'Done'"
            >
              Huỷ
            </button>
            <button
              nz-button
              nzType="primary"
              class="but"
              (click)="snapStatus(apply.id, 'Done')"
              *ngIf="apply.status === 'Waiting'"
            >
              Duyệt
            </button>
            <button
              nz-button
              nzType="primary"
              class="but"
              *ngIf="apply.status === 'Cancel'"
            >
              Đã hủy
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
