<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Lịch phỏng vấn ngày {{
    date.getDate().toString() +
      '/' +
      (date.getMonth() + 1).toString() +
      '/' +
      date.getFullYear().toString()
  }}"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent class="flex flex-col gap-4">
    <nz-table #basicTable [nzData]="modalIntervSche">
      <thead>
        <tr>
          <th>Thời gian</th>
          <th>Tên ứng viên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>CV</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.schedule.toString() }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phone }}</td>
          <td>
            <a
              *ngIf="data.cv"
              [href]="data.cv"
              target="_blank"
              class="info date"
            >
              <pdf-viewer
                [src]="data.cv"
                [original-size]="false"
                [show-all]="false"
                [zoom]="1"
                style="width: 15vh; height: 23vh"
              ></pdf-viewer>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- <div *ngFor="let modal of modalIntervSche">
      <div>Thời gian: {{ modal.schedule.toString() }}</div>
      <div>Tên Ứng viên: {{ modal.name }}</div>
      <div>Email: {{ modal.email }}</div>
      <div>Số điện thoại: {{ modal.phone }}</div>
      <div class="flex gap-2">
        CV:
        <a *ngIf="modal.cv" [href]="modal.cv" target="_blank" class="info date">
          <pdf-viewer
            [src]="modal.cv"
            [original-size]="false"
            [show-all]="false"
            [zoom]="1"
            style="width: 15vh; height: 23vh"
          ></pdf-viewer>
        </a>
      </div>
    </div> -->
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleCancel()">Đóng</button>
  </div>
</nz-modal>

<nz-calendar>
  <ul *nzDateCell="let date" class="events">
    <ng-container
      [ngSwitch]="
        date.getDate().toString() +
        (date.getMonth() + 1).toString() +
        date.getFullYear().toString()
      "
      *ngFor="let item of listDataMap"
    >
      <ng-container *ngSwitchCase="item">
        <h5 nz-typography nzType="success">Có lịch</h5>
        <div (click)="selectChange(date)">
          <nz-badge nzStatus="success" nzText="Xem lịch"></nz-badge>
        </div>
      </ng-container>
    </ng-container>
  </ul>
  <ng-container *nzMonthCell="let month">
    <h5
      nz-typography
      nzType="success"
      *ngIf="getMonthData(month) as monthData"
      class="notes-month"
    >
      <nz-badge nzStatus="success" nzText="Có lịch"></nz-badge>
    </h5>
  </ng-container>
</nz-calendar>
