<div class="all">
  <div class="left">
    <div class="mb-8">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="drop">
        {{ selectedStatus === "" ? "Chọn trạng thái " : selectedStatus }}

        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            *ngFor="let item of listNameStatus"
            (click)="select(item)"
          >
            {{ item }}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <div *ngIf="load" class="pt-24">
      <nz-spin nzTip="Loading...">
        <nz-alert
          class="pl-24"
          nzType="info"
          nzMessage="Đang load dữ liệu"
          nzDescription="Xin vui lòng đợi"
        ></nz-alert>
      </nz-spin>
    </div>
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="(listCom$ | async) ?? []"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th>Poster</th>
          <th>Thể loại</th>
          <th>Trạng thái</th>
          <th nzWidth="100">Link</th>
          <th>Chi tiết</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td>
            <img class="image" [src]="data.thumbnail" />
          </td>
          <td>{{ data.codeCategory }}</td>
          <td>{{ data.status }}</td>
          <td>
            <a [href]="data.link">{{ data.link }}</a>
          </td>
          <td style="text-wrap: nowrap">
            <div>Lượt thích: {{ data.numLike }}</div>
            <div>Lượt xem: {{ data.numView }}</div>
            <div>Lượt không thích: {{ data.numDisLike }}</div>
            <div>Lượt chia sẻ: {{ data.numShare }}</div>
            <div>Lượt Lưu: {{ data.numSave }}</div>
          </td>
          <td>
            <button
              nz-button
              nzType="primary"
              class="but"
              (click)="snapStatus(data.id, 'Cancel')"
              *ngIf="data.status === 'Done'"
            >
              Huỷ
            </button>
            <button
              nz-button
              nzType="primary"
              class="but"
              (click)="snapStatus(data.id, 'Done')"
              *ngIf="data.status === 'Waiting'"
            >
              Duyệt
            </button>
            <button
              nz-button
              nzType="primary"
              class="but"
              *ngIf="data.status === 'Cancel'"
            >
              Đã hủy
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- <div *ngFor="let candidate of listCom$ | async" class="list">
      <div *ngIf="!load" class="item">
        <div class="itemcon">
          <div class="divimage">
            <img class="image" [src]="candidate.thumbnail" />
          </div>
          <div class="content">
            <div>
              <div>Thể loại: {{ candidate.codeCategory }}</div>
              <div>Trạng thái: {{ candidate.status }}</div>
              <div>Lượt thích: {{ candidate.numLike }}</div>
            </div>
            <div>
              <div>
                link:
                <a [href]="candidate.link" height="100px" width="100px">{{
                  candidate.link
                }}</a>
              </div>
              <div>Lượt xem: {{ candidate.numView }}</div>
              <div>Lượt không thích: {{ candidate.numDisLike }}</div>
            </div>
            <div>
              <div>Lượt chia sẻ: {{ candidate.numShare }}</div>
              <div>Lượt lưu: {{ candidate.numSave }}</div>
            </div>
          </div>
        </div>
        <button
          nz-button
          nzType="primary"
          class="but"
          (click)="snapStatus(candidate.id, 'Cancel')"
          *ngIf="candidate.status === 'Done'"
        >
          Huỷ
        </button>
        <button
          nz-button
          nzType="primary"
          class="but"
          (click)="snapStatus(candidate.id, 'Done')"
          *ngIf="candidate.status === 'Waiting'"
        >
          Duyệt
        </button>
        <button
          nz-button
          nzType="primary"
          class="but"
          *ngIf="candidate.status === 'Cancel'"
        >
          Đã hủy
        </button>
      </div>
    </div> -->
  </div>
</div>
