<div class="layout">
  <app-right-side
    [isPrimary]="false"
    [status]="
      currentComFrame.code !== '' && currentComFrame.code !== undefined
        ? 'Chỉnh sửa công ty '
        : 'Tạo mới công ty'
    "
    [sectionName]="
      currentComFrame.name !== '' && currentComFrame.name !== undefined
        ? currentComFrame.name
        : ''
    "
    (cancel)="cancel()"
    (save)="save()"
    style="height: 100%"
  >
    <div
      container-body-custom
      class="body list-section"
      style="height: 100%; padding: 1.5rem"
    >
      <app-section title="Tên công ty" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="currentComFrame.name"
          placeholder="Tên công ty"
          class="h-10 p-4 w-full border-mid rounded-lg input-custom"
          style="outline: none"
        />
      </app-section>
      <app-section title="Ảnh đại diện công ty" [collapsible]="false">
        <!-- <nz-upload
          section-container
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="handleChange($event)"
          [nzBeforeUpload]=''
        >
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            Click to Upload
          </button>
        </nz-upload> -->
        <div section-container>
          <p class="namecard">Chọn ảnh đại diện công ty:</p>
          <input
            accept="image/*"
            (change)="chooseLogo($event)"
            placeholder="Upload CV"
            type="file"
          />
        </div>
      </app-section>
      <app-section title="Ảnh bìa công ty" [collapsible]="false">
        <div section-container>
          <p class="namecard">Chọn ảnh bìa công ty:</p>
          <input
            (change)="chooseBackgroud($event)"
            placeholder="Upload CV"
            type="file"
          />
        </div>
      </app-section>
      <app-section title="Link công ty" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="currentComFrame.link"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập link công ty"
        />
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Địa chỉ" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="currentComFrame.address"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập địa chỉ"
        />
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Email" [collapsible]="false">
        <input
          section-container
          [(ngModel)]="currentComFrame.email"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập email"
        />
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <app-section title="Giới thiệu" [collapsible]="false">
        <quill-editor
          section-container
          [(ngModel)]="currentComFrame.intro"
          placeholder="Nhập giới thiệu"
          class="descriptioninput p-4"
        ></quill-editor>
        <!-- <textarea
          section-container
          [(ngModel)]="currentComFrame.intro"
          class="descriptioninput p-4"
          nz-input
          placeholder="Nhập email"
          [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        ></textarea> -->
        <div class="pt-2 flex flex-row-reverse text-color-mid">
          Trường không bắt buộc
        </div>
      </app-section>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Thêm công ty mới thành công."
        (nzOnCancel)="handleCancel()"
        nzFooter=" "
      >
        <div *nzModalContent class="flex flex-col gap-4">
          <div class="flex items-center">Tài khoản: {{ user.email }}</div>
          <div class="flex items-center">Mật khẩu: {{ user.password }}</div>
        </div>
      </nz-modal>
    </div>
  </app-right-side>
</div>
