<div class="layout">
  <div class="layout-left">
    <div class="layout-left-header">
      <div class="tab selected">Thông tin cá nhân</div>
    </div>

    <div class="layout-left-body">
      <!-- <div class="layout-left-body-left">
        <div collapsible>
          <div collapsibleTitle>
            Thông tin ứng tuyển
            <i class="collapsible-icon" nz-icon nzType="svg:caret-down"></i>
          </div>
          <div collapsibleContent>
            <div class="box-shadow">
              <div class="recruit-apply-information">
                <div class="recruit-apply-information-item">
                  <span nz-icon nzType="svg:job" eIconSize="1.25rem"></span>
                  <span>Vị trí ứng tuyển:</span>
                  <a>UX UI Designer</a>
                </div>
                <div class="recruit-apply-information-item">
                  <span nz-icon nzType="svg:dollar" eIconSize="1.25rem"></span>
                  <span>Salary Range</span>
                </div>
                <div class="recruit-apply-information-item">
                  <span nz-icon nzType="svg:job" eIconSize="1.25rem"></span>
                  <span>Ngày ứng tuyển</span>
                </div>
                <div class="recruit-apply-information-item">
                  <span nz-icon nzType="svg:user" eIconSize="1.25rem"></span>
                  <span>Người phụ trách</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div collapsible>
          <div collapsibleTitle>
            Đánh giá năng lực
            <i class="collapsible-icon" nz-icon nzType="svg:caret-down"></i>
          </div>
          <div collapsibleContent>
            <div class="box-shadow">
              <div class="competence-evaluation">
                <div class="competence-evaluation-title">
                  <span><i nz-icon nzType="svg:info"></i>Design</span>
                  <nz-rate
                    nzAllowHalf
                    nzDisabled
                    [ngModel]="4"
                    [nzCharacter]="starIcon"
                  ></nz-rate>
                </div>

                <div class="competence-evaluation-content">
                  <textarea
                    class="textarea review"
                    placeholder="Nhập mô tả"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="layout-left-body-right">
        <router-outlet class="body"></router-outlet>
      </div>
    </div>
  </div>

  <div class="layout-right">
    <div class="layout-right-header">
      <div class="section-top">
        <div class="recruit-avatar">
          <img
            [src]="
              user.avatar ||
              'https://storage.googleapis.com/newscv-3595e.appspot.com/04e3e8bc-1dfe-4a30-a4f2-ed60607f0c78jpg'
            "
          />

          <span
            *ngIf="!imageVisible"
            nz-icon
            style="
              position: relative;
              background: white;
              left: 2rem;
              bottom: 1rem;
              cursor: pointer;
            "
            (click)="edit()"
            nzType="svg:edit"
          ></span>
        </div>
        <div class="flex items-center gap-4" *ngIf="imageVisible">
          <input
            (change)="chooseImage($event)"
            type="file"
            name="file"
            id="file"
            class="inputfile"
          />
          <label for="file">{{
            user.avatar === null || user.avatar === ""
              ? "Chọn ảnh"
              : "Đổi ảnh khác"
          }}</label>
          <div
            style="
              background: #40a9ff;
              padding: 2px;
              color: white;
              cursor: pointer;
              font-size: 1rem;
            "
            (click)="uploadImage(user.avatar)"
          >
            Hoàn tất đổi ảnh
          </div>
          <div
            style="
              background: red;
              padding: 2px;
              font-size: 1rem;
              cursor: pointer;
              color: white;
            "
            (click)="CancelUploadImage()"
          >
            Huỷ
          </div>
        </div>
        <div class="recruit-name">{{ user.name }}</div>

        <div class="recruit-rating">
          <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>

          <span>5.0./5.0 - 10 recommended</span>
        </div>
        <div *ngIf="autoAppli">
          <div class="h-line"></div>
          <!-- <container-element [ngSwitch]="true"></container-element> -->
          <div class="nameAutoJob">
            {{
              AutoJob.status === "Off"
                ? "Đang tắt tự động tìm kiếm việc làm "
                : "Đang mở tự động tìm kiếm việc làm"
            }}
          </div>
          <div style="display: flex; gap: 1rem">
            <nz-switch
              style="width: fit-content"
              (ngModelChange)="ChangeSwitch()"
              [(ngModel)]="switchValue"
              [nzCheckedChildren]="checkedTemplate"
              [nzUnCheckedChildren]="unCheckedTemplate"
            ></nz-switch>
            <button
              *ngIf="switchValue"
              style="background-color: #1890ff !important; width: fit-content"
              (click)="editCv()"
              nz-button
              nzType="primary"
            >
              Chỉnh sửa CV
            </button>
          </div>
        </div>
        <ng-template #checkedTemplate
          ><span nz-icon nzType="check"></span
        ></ng-template>
        <ng-template #unCheckedTemplate
          ><span nz-icon nzType="close"></span
        ></ng-template>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Nhập thông tin ứng tuyển của bạn"
          (nzOnCancel)="handleCancel()"
        >
          <div *nzModalContent class="flex flex-col gap-4">
            <div class="flex items-center">
              <p class="namecard">Họ tên:</p>
              <input
                placeholder="Nhập tên của bạn"
                class="input"
                [(ngModel)]="AutoJob.fullName"
              />
            </div>

            <div class="flex items-center">
              <p class="namecard">Email:</p>
              <input
                placeholder="Email"
                class="input"
                [(ngModel)]="AutoJob.email"
              />
            </div>
            <div class="flex items-center">
              <p class="namecard">Số điện thoại:</p>
              <input
                placeholder="Số điện thoại"
                class="input"
                [(ngModel)]="AutoJob.phone"
              />
            </div>
            <div class="items-center">
              <div style="display: flex">
                <p class="namecard">Lĩnh vực:</p>
                <div nz-row nzSpan="8">
                  <label
                    nz-checkbox
                    [(ngModel)]="allChecked"
                    (ngModelChange)="changeAllChecked()"
                    >Check All</label
                  >
                </div>
              </div>

              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckSpecialize($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Dev" [(ngModel)]="DEV">DEV</label>
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Tester" [(ngModel)]="Tester"
                    >Tester</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="QA" [(ngModel)]="QA">QA</label>
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Manager" [(ngModel)]="Manager"
                    >Manager</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Expert" [(ngModel)]="Expert"
                    >Expert</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="flex items-center">
              <p class="namecard">Ngôn ngữ:</p>
              <input
                placeholder="Nhập ngôn ngữ"
                class="input"
                [(ngModel)]="AutoJob.language"
              />
            </div>
            <div class="items-center">
              <p class="namecard">Ví trí:</p>
              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckPosition($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Intern" [(ngModel)]="Intern"
                    >Intern</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Fresher" [(ngModel)]="Fresher"
                    >Fresher</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Junior" [(ngModel)]="Junior"
                    >Junior</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Midlevel" [(ngModel)]="Midlevel"
                    >Mid-level</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Senior" [(ngModel)]="Senior"
                    >Senior</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Leader" [(ngModel)]="Leader"
                    >Leader</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="items-center">
              <p class="namecard">Kinh nghiệm:</p>
              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckExperience($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Không có" [(ngModel)]="NoEx"
                    >Không có</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Dưới 1 năm" [(ngModel)]="OneEx"
                    >Dưới 1 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="1-2 năm" [(ngModel)]="TwoEx"
                    >1-2 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="2-5 năm" [(ngModel)]="FiveEx"
                    >2-5 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Trên 5 năm" [(ngModel)]="OvFiveEx"
                    >Trên 5 năm</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="flex items-center">
              <p class="namecard">Chọn CV của bạn:</p>
              <input
                (change)="chooseCv($event)"
                type="file"
                name="file"
                id="file"
                class="inputfile"
              />
              <label for="file">{{
                AutoJob.cv === null || AutoJob.cv === ""
                  ? "Chọn CV "
                  : "Đã chọn"
              }}</label>
              <a
                *ngIf="AutoJob.cv"
                [href]="AutoJob.cv"
                target="_blank"
                class="info date"
              >
                <pdf-viewer
                  [src]="AutoJob.cv"
                  [original-size]="false"
                  [show-all]="false"
                  [zoom]="1"
                  style="width: 15vh; height: 23vh"
                ></pdf-viewer>
              </a>
            </div>
            <div>
              <p class="namecard">Địa điểm</p>
              <textarea
                nz-input
                placeholder="Nhập địa diểm"
                [(ngModel)]="AutoJob.location"
                style="
                  border-color: #bfbfbf;
                  resize: none;
                  border-radius: 8px;
                  font-weight: 400;
                  padding: 1rem;
                  width: 100%;
                "
              ></textarea>
            </div>
          </div>
          <div *nzModalFooter>
            <button
              nz-button
              style="background-color: #1890ff !important; color: white"
              nzType="default"
              (click)="handleCancel()"
            >
              Huỷ
            </button>
            <button
              nz-button
              style="background-color: #1890ff !important; color: white"
              nzType="primary"
              (click)="handleOk()"
              [nzLoading]="isConfirmLoading"
            >
              Gửi
            </button>
          </div>
        </nz-modal>
        <nz-modal
          [(nzVisible)]="isVisible1"
          nzTitle="Nhập thông tin ứng tuyển của bạn"
          (nzOnCancel)="handleCancel1()"
        >
          <div *nzModalContent class="flex flex-col gap-4">
            <div class="flex items-center">
              <p class="namecard">Họ tên:</p>
              <input
                placeholder="Nhập tên của bạn"
                class="input"
                [(ngModel)]="AutoJob.fullName"
              />
            </div>

            <div class="flex items-center">
              <p class="namecard">Email:</p>
              <input
                placeholder="Email"
                class="input"
                [(ngModel)]="AutoJob.email"
              />
            </div>
            <div class="flex items-center">
              <p class="namecard">Số điện thoại:</p>
              <input
                placeholder="Số điện thoại"
                class="input"
                [(ngModel)]="AutoJob.phone"
              />
            </div>
            <div class="items-center">
              <div style="display: flex">
                <p class="namecard">Lĩnh vực:</p>
                <div nz-row nzSpan="8">
                  <label
                    nz-checkbox
                    [(ngModel)]="allChecked"
                    (ngModelChange)="changeAllChecked()"
                    >Check All</label
                  >
                </div>
              </div>

              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckSpecialize($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Dev" [(ngModel)]="DEV">DEV</label>
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Tester" [(ngModel)]="Tester"
                    >Tester</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="QA" [(ngModel)]="QA">QA</label>
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Manager" [(ngModel)]="Manager"
                    >Manager</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Expert" [(ngModel)]="Expert"
                    >Expert</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="flex items-center">
              <p class="namecard">Ngôn ngữ:</p>
              <input
                placeholder="Nhập ngôn ngữ"
                class="input"
                [(ngModel)]="AutoJob.language"
              />
            </div>
            <div class="items-center">
              <p class="namecard">Ví trí:</p>
              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckPosition($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Intern" [(ngModel)]="Intern"
                    >Intern</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Fresher" [(ngModel)]="Fresher"
                    >Fresher</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Junior" [(ngModel)]="Junior"
                    >Junior</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Midlevel" [(ngModel)]="Midlevel"
                    >Mid-level</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Senior" [(ngModel)]="Senior"
                    >Senior</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Leader" [(ngModel)]="Leader"
                    >Leader</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="items-center">
              <p class="namecard">Kinh nghiệm:</p>
              <nz-checkbox-wrapper
                style="width: 100%; display: flex"
                (nzOnChange)="CheckExperience($event)"
              >
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Không có" [(ngModel)]="NoEx"
                    >Không có</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Dưới 1 năm" [(ngModel)]="OneEx"
                    >Dưới 1 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="1-2 năm" [(ngModel)]="TwoEx"
                    >1-2 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="2-5 năm" [(ngModel)]="FiveEx"
                    >2-5 năm</label
                  >
                </div>
                <div nz-row nzSpan="8">
                  <label nz-checkbox nzValue="Trên 5 năm" [(ngModel)]="OvFiveEx"
                    >Trên 5 năm</label
                  >
                </div>
              </nz-checkbox-wrapper>
            </div>
            <div class="flex items-center">
              <p class="namecard">Chọn CV của bạn:</p>
              <input
                (change)="chooseCv($event)"
                type="file"
                name="file"
                id="file"
                class="inputfile"
              />
              <label for="file">{{
                AutoJob.cv === null || AutoJob.cv === ""
                  ? "Chọn CV "
                  : "Đã chọn"
              }}</label>
              <a
                *ngIf="AutoJob.cv"
                [href]="AutoJob.cv"
                target="_blank"
                class="info date"
              >
                <pdf-viewer
                  [src]="AutoJob.cv"
                  [original-size]="false"
                  [show-all]="false"
                  [zoom]="1"
                  style="width: 15vh; height: 23vh"
                ></pdf-viewer>
              </a>
            </div>
            <div>
              <p class="namecard">Địa điểm</p>
              <textarea
                nz-input
                placeholder="Nhập địa diểm"
                [(ngModel)]="AutoJob.location"
                style="
                  border-color: #bfbfbf;
                  resize: none;
                  border-radius: 8px;
                  font-weight: 400;
                  padding: 1rem;
                  width: 100%;
                "
              ></textarea>
            </div>
          </div>
          <div *nzModalFooter>
            <button
              nz-button
              style="background-color: #1890ff !important; color: white"
              nzType="default"
              (click)="handleCancel1()"
            >
              Huỷ
            </button>
            <button
              nz-button
              style="background-color: #1890ff !important; color: white"
              nzType="primary"
              (click)="handleOk()"
              [nzLoading]="isConfirmLoading"
            >
              Gửi
            </button>
          </div>
        </nz-modal>
      </div>

      <div class="h-line"></div>

      <!-- <div class="section-bottom">
        <button class="button-secondary he">Xem CV gốc</button>

        <div class="recruit-actions">
          <button class="button-secondary">
            <span nz-icon nzType="svg:user-remove"></span>Loại nhanh
          </button>
          <button class="button-secondary">
            <span nz-icon nzType="svg:angle-double-small-right"></span>Next step
          </button>
        </div>
      </div> -->
    </div>

    <div class="layout-right-body">
      <div class="section">
        <div class="title">Thông tin chung</div>
        <div class="content recruit-information">
          <div class="item">
            <span nz-icon nzType="svg:gender"></span
            ><span>Giới tính: {{ user.gender }}</span>
          </div>
          <div class="item">
            <span nz-icon nzType="svg:calendar"></span
            ><span>Ngày sinh: {{ user.birthDate }}</span>
          </div>
          <div class="item">
            <span nz-icon nzType="svg:mail"></span
            ><span>Email: {{ user.email }}</span>
          </div>
          <div class="item">
            <span nz-icon nzType="svg:phone-call"></span
            ><span>Số điện thoại: {{ user.phone }}</span>
          </div>
          <div class="item">
            <span nz-icon nzType="svg:home-location-alt"></span
            ><span>Địa chỉ: {{ user.address }}</span>
          </div>
        </div>
      </div>

      <div class="h-line"></div>

      <div class="section">
        <div class="title">Tags</div>
        <div class="content tags">
          <div class="talent-tag">Figma</div>

          <div class="talent-tag">Prototype</div>

          <div class="talent-tag">Bla bla</div>

          <div class="talent-tag">hihi</div>

          <div class="talent-tag">Wireframe</div>

          <div class="talent-tag">AI</div>

          <div class="talent-tag">Photoshop</div>
        </div>
      </div>

      <div class="h-line"></div>

      <div class="section">
        <div class="title">Talent Pool</div>
        <div class="content tags">
          <div class="pool-tag-1">Tech</div>

          <div class="pool-tag-2">Design</div>

          <div class="pool-tag-3">Product</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #starIcon>
  <span nz-icon nzType="svg:star-fill" eIconSize="1.25rem"></span
></ng-template>
