<div class="all">
  <div class="left">
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="drop">
      {{ selectedCompany === "" ? "Chọn công ty" : selectedCompany }}
      <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu style="max-height: 150px;overflow-y: auto;">
        <li
          nz-menu-item
          *ngFor="let item of listNameCompany"
          (click)="select(item)"
        >
          {{ item }}
        </li>
      </ul>
    </nz-dropdown-menu>
    <div class="title">
      danh sách tuyển dụng của công ty {{ selectedCompany }}
    </div>
    <div *ngIf="load" class="pt-24">
      <nz-spin nzTip="Loading...">
        <nz-alert
          class="pl-24"
          nzType="info"
          nzMessage="Đang load dữ liệu"
          nzDescription="Xin vui lòng đợi"
        ></nz-alert>
      </nz-spin>
    </div>
    <div *ngFor="let candidate of listCom$ | async" class="list">
      <div
        *ngIf="!load"
        class="item"
        (click)="onSelected(candidate)"
        [class.selected]="candidate === selectedJob"
      >
        <div class="divimage">
          <img class="image" [src]="candidate.image" />
        </div>
        <div class="content">
          <div>vị trí: {{ candidate.position }}</div>
          <div>Số hồ sơ ứng tuyển: {{ candidate.numberCandidate }}</div>
          <div>
            Thời hạn: {{ candidate.startTime }} đến {{ candidate.endTime }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right" *ngIf="showRight">
    <div>Danh sách ứng viên</div>
    <div *ngFor="let apply of listApply" class="list">
      <div class="item">
        <a [href]="apply.cv" target="_blank" class="info date">
          <pdf-viewer
            [src]="apply.cv"
            [original-size]="false"
            [show-all]="false"
            [zoom]="1"
            style="width: 15vh; height: 23vh"
          ></pdf-viewer>
        </a>
        <div class="content">
          <div>Tên: {{ apply.fullName }}</div>
          <div>Số điện thoại: {{ apply.phone }}</div>
          <div>Email: {{ apply.email }}</div>
          <div>Giới thiệu: {{ apply.intro }}</div>
          <div>Trạng thái CV: {{ apply.status }}</div>
          <div>Thời gian ứng tuyển: {{ apply.applyTime }}</div>
        </div>
        <button
          nz-button
          nzType="primary"
          class="but"
          (click)="snapStatus(apply.id, 'Cancel')"
          *ngIf="apply.status === 'Done'"
        >
          Huỷ
        </button>
        <button
          nz-button
          nzType="primary"
          class="but"
          (click)="snapStatus(apply.id, 'Done')"
          *ngIf="apply.status === 'Waiting'"
        >
          Duyệt
        </button>
        <button
          nz-button
          nzType="primary"
          class="but"
          *ngIf="apply.status === 'Cancel'"
        >
          Đã hủy
        </button>
      </div>
    </div>
  </div>
</div>
